.app-container {
  // display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

.mag-sidebar-header {
  padding: 6px;
  border-bottom: 1px solid #fff;
  h4 {
    color: white;
    font-size: 16px;
  }
}
