//MAG Colors
$mag-color-1: #7ebac5;
$mag-color-2: #018a9a;
$mag-color-3: #249db0;
$mag-color-4: #979797;
$mag-color-5: #555555;

//MAG Color Palette
$mag-color-1-palette: #2baab1;
$mag-color-2-palette: #0e0e0e;
$mag-color-3-palette: #9bbb59;
$mag-color-4-palette: #ffffff;
$mag-color-5-palette: #f79664;

//Social Media
$email: #efbe00;
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #bb0000;
$linkedin: #0077b5;
$googleplus: #db4437;
$share: #8fc33b;

//Bootstrap Colors
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
